<!--

    This page is created by Samyak Gaur 

    > Before this you should have created this template folder
    registered it at settings.py file and put it in dir
    > then register the url into the urls.py file of project
    using the include function 
    >  then added the url in urls.py file of first_app 
    >  then created the help function in the views.py file 
    
-->

<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Help Page</title>
</head>
<body>
    <!--We will now insert the key of dict passed in views.py 
    file of first_app
    -->
    {{ help_insert }}
</body>
</html>